<!DOCTYPE html>
<html>
<head>
    <title>Query Sucess</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Query Success</h1>
    <p>Your order has been succesfully placed!</p>
    
    <input type="button" id="menureturn" name="operation" value="Return to order page" onclick="location.href='/order'"><br><br>
</body>
</html>