<!DOCTYPE html>
<html>
<head>
    <title>Query Sucess</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Query Success</h1>
    <p>Your reservation has been succesfully placed!</p>
    <h3>Here is your reservation ID number. You will need this when you arrive, or if you want to cancel a reservation!</h3>

    
    
    <h1>Your reservation ID is: <%= reservationID %></h1>
    
    <input type="button" id="menureturn" name="operation" value="Return to reservation page" onclick="location.href='/reservation'"><br><br>
</body>
</html>