<!DOCTYPE html>
<html>
<head>
    <title>Query Failed</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Query Failed</h1>
    <p>Your reservation has been unable to be placed, try again.</p>
    
    <input type="button" id="menureturn" name="operation" value="Return to reservation page" onclick="location.href='/reservation'"><br><br>
</body>
</html>