<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Orders Results</title>
</head>
<body>
    <h1>Delete Reservation Success. Please come again.</h1>
    

    <input type="button" id="menureturn" name="operation" value="Return to reservations page" onclick="location.href='/reservation'"><br><br>
</body>
</html>
