<!DOCTYPE html>
<html>
<head>
    <title>Query Failure</title>
</head>
<body>
    <h1>Query Failed</h1>
    <p>Sorry, there was an issue executing your SQL query. Please try again.</p>
    <input type="button" id="menureturn" name="operation" value="Return to review page" onclick="location.href='/review'"><br><br>
</body>
</html>