<!DOCTYPE html>
<html>
<head>
    <title>Query Success</title>
</head>
<body>
    <h1>Query Successful</h1>
    <p>Your SQL query was executed successfully.</p>
    <input type="button" id="menureturn" name="operation" value="Return to menu page" onclick="location.href='/menu'"><br><br>
</body>
</html>