<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <fieldset style="width: fit-content; text-align: center;">Menu information to update.<br>
        <form method="POST" action="/updatemenuitems">
                <h1> Old Menu Item</h1>
            
            <p>Menu Item ID to Update</p>
            <input type="number" name="oldIDmenu" class="form"><br>
            
            <br>
                <h2> New Menu Item </h2>
                <p>New Item Name</p>
                <input type="text" name="newNamemenu" class="form"><br>
                <p>New Description</p>
                <input type="text" name="newDescmenu" class="form"><br>
                <p>New Item Price</p>
                <input type="int" name="newPricemenu" class="form"><br>
            
            <button>Submit</button>
        </form>
    </fieldset>


</body>
</html>